section{
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .container{
  width: 600px;
  height: 600px;
  background-color: rgb(163, 69, 45);
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.btn-start{
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 40px 40px;
  border-radius: 20px;
  box-shadow: 0 0 5px black;
}

.box{
  background-color: rgb(10, 157, 255);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 10);
  border: 2px solid white;
  cursor: pointer;
}

.box-click{
  background-color: rgb(255, 186, 10);
}